a:link{
	 color:white;
	 font-weight: bold;
	 text-decoration: none;
	 font-size: 20px;
	 text-decoration: none;
}
a:visited{
	 color:white;
	 font-weight: bold;
	 text-decoration: none;
	 font-size: 16px;
}
a:HOVER {
	color: blue;
	text-decoration: underline;
}